.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rproj.user/
echo "3_Final_Quarto_Document_cache/" >> .gitignore
echo "*.rdb" >> .gitignore
echo "*.html" >> .gitignore
echo "*.pdf" >> .gitignore
3_Final_Quarto_Document_cache/
*.rdb
*.html
*.pdf
*_files/

/.quarto/
